---
import App from "@/components/App";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>CV generator - nukive</title>
	</head>
	<body>
		<h1>CV generator (work in progress)</h1>
		<App client:idle />
	</body>
</html>

<style lang='less' is:global>
.cv-container {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 1em;
	max-height: calc(794px / 0.706651);
	overflow: hidden;
	box-sizing: border-box;
}
</style>